h2 {
  font-size: 1.3em;
  margin: 0;
}
.skill-title {
  font-size: 1.2em;
  margin: 0;
}
.skill-contains {
  margin-top: 5px;
  font-size: 1em;
}
.wrapper {
  display: flex;
}
.half_contains {
  flex: 1;
}
.profile_header {
  display: flex;
  padding-bottom: 10px;
}
.split_title {
  display: flex;
  flex: 1;
}
