@charset "UTF-8";
@import url(web-fonts-url("http:fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"));

$red: #D8334A;
$orange: #FC6E51;
$yellow: #FFCE54;
$green: #A0D468;
$emerald: #2ECC71;
$mint: #48CFAD;
$aqua: #4FC1E9;
$blue: #5D9CEC;
$lavender: #AC92EC;
$purple: #8067B7;
$pink: #EC87C0;
$brown: #AA8E69;
$chocolate: #8E8271;
$lightgray: #E6E9ED;
$gray: #CCD1D9;
$darkgray: #656D78;
$black: #3C3B3D;
$white: #E6E9ED;

$fancy_color: $red;
$outline_border: $aqua;
$outline_under: $yellow;
$simple_effect_color: $emerald;

// 基本設定

*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "Roboto Slab" , Garamond , "Times New Roman" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
}

.preload * {
    -webkit-transition: none;
    transition: none;
}

html, body {
    width: 100%;
}

h1, h2, h3, h4, h5 {
    font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

h1 {font-size: 2.0em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.6em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.2em;}

/* ヘッダー(ナビゲーション) */
// シアターのようなナビゲーション
.theater {
    margin-bottom: 300px;
    nav{
        align-items: center;
        vertical-align: center;
        background: #333;
    }
    ul {
        font-size: larger;
        line-height: 2;
        padding-left: 66.66%;
        text-transform: uppercase;
        color: whitesmoke;

        li {
            cursor: pointer;
        }
    }
    .layer {
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;;
        color: black;
        top: 0;
        left: 0;
        right: 0;
        transition: transform .4s;
        transform:
        perspective(800px)
        scale(1)
        translateX(0)
        rotateY(0);
        transform-style: preserve-3d;
    }
    &:hover .main{
        transform:
        perspective(800px)
        scale(.5)
        translateX(-16.66%)
        rotateY(25deg);
    }
    .main {
        $color : gold;
        background: $color;
    }
}

/*
グリッドシステムテンプレート
メインコンテンツのテンプレート
*/
.container {
    margin: 0 auto;
    width: 80%;
    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        &.center {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -ms-grid-row-align: center;
            align-items: center;
        }
        .col-1 {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }
        .col-2 {
            -webkit-box-flex: 2;
            -ms-flex: 2;
            flex: 2;
        }
        .col-3 {
            -webkit-box-flex: 3;
            -ms-flex: 3;
            flex: 3;
        }
        .col-4 {
            -webkit-box-flex: 4;
            -ms-flex: 4;
            flex: 4;
        }
        .col-5 {
            -webkit-box-flex: 5;
            -ms-flex: 5;
            flex: 5;
        }
    }
}

/* テーブルテンプレート*/
.table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    tr {
        border-bottom: 1px $lightgray solid;
        &:first-child {
            border-bottom: 3px $lightgray solid;
        }
        th {
            font-weight: bold;
            text-align: left;
            padding: 8px;
        }
        td {
            padding: 8px;
            &:first-child {
                font-weight: bold;
            }
        }
    }
    &.table-striped {
        tr:nth-child(even) {
            background: $lightgray;
        }
    }
    &.table-bordered {
        td, tr, th {
            border: 1px solid $lightgray;
        }
        tr:first-child {
            border-bottom: 3px solid $lightgray;
        }
    }
    &.table-hover {
        tr:hover {
            background: $lightgray;
        }
    }
    .active {background: #f5f5f5;}
    .success {background: #dff0d8;}
    .info {background: #d9edf7;}
    .warning {background: #fcf8e3;}
    .danger {background: #f2dede;}
}

/* フォームテンプレート*/
form .form-group {
    margin: 10px 0;
    input[type="text"], input[type="email"], input[type="tel"], input[type="url"], textarea {
        width:100%;
        border:1px solid #CCC;
        background:#FFF;
        margin:0 0 5px;
        padding:10px;
        border-radius: 5px;
    }
    input[type="text"]:hover, input[type="email"]:hover, input[type="tel"]:hover, input[type="url"]:hover, textarea:hover {
        -webkit-transition:border-color 0.3s ease-in-out;
        transition:border-color 0.3s ease-in-out;
        border:1px solid #AAA;
    }
    textarea {
        height:100px;
        max-width:100%;
        resize:none;
    }
    button[type="submit"] {
        cursor: pointer;
        border: 1px solid $black;
        background: #fff;
        border-radius: 5px;
        color: $black;
        margin: 0 0 5px;
        padding: 10px 20px;
        font-size: 1.0em;
        -webkit-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;
        &:hover {
            background: $lightgray;
            -webkit-transition: background .3s ease-in-out;
            transition: background .3s ease-in-out;
        }
        &.default {
            background: $darkgray;
        }
        &.info {
            background: $aqua;
        }
        &.warning {
            background: $yellow;
        }
        &.danger {
            background: $red;
        }
    }
    input:focus, textarea:focus {
        outline: 0;
        border: 1px solid #999;
    }
    label {
        margin-bottom: 5px;
        display: block;
        font-size: 1.1em;
        font-weight: 600;
    }
}
// メインここまで

/*
その他
ボタン
*/
.btn {
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    // アウトラインボタン
    &.outline {
        background: transparent;
        border: 3px solid $outline_border;
        box-shadow: 5px;
        &:after {
            position: absolute;
            -webkit-transition: .3s;
            transition: .3s;
            content: '';
            width: 0;
            left: 0;
            bottom: 0;
            height: 5px;
            background: $outline_under;
        }
        &:hover:after {
            width: 100%;
            left: 0;
        }
    }
    // ファンシーボタン　
    &.fancy {
        color: $fancy_color;
        background: transparent;
        border:1px solid $fancy_color;
        border-radius:100px;
        background-size: 200% 100%;
        background-image: linear-gradient(to right, transparent 50%, $fancy_color 50%);
        transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
        &:hover {
            color: white;
            background-color: $fancy_color;
            background-position: -100% 100%;
        }
    }
    // シンプルエフェクトボタン
    &.simple-effect {
        background: $simple_effect_color;
        color: #fff;
        border:none;
        position: relative;
        transition: .8s ease all;
        outline: none;
        &:hover{
            background: #fff;
            color: $simple_effect_color;
        }
        &:before,&:after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: 2px;
            width: 0;
            background: #1AAB8A;
            transition: .4s ease all;
        }
        &:after{
            right: inherit;
            top: inherit;
            left: 0;
            bottom: 0;
        }
        &:hover:before,&:hover:after{
            width: 100%;
            transition: .8s ease all;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1020px) {
    width: 90%;
}

@media screen and (max-width: 767px) {
    .container {
        width: 100%;
    }
}
